.text-white {
    color: #fff;
}

.text-white:hover {
    color: #fff;
}

.text-black {
  color: #000000 !important;
}

.content {
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 20px;
}

.features div {
    height: 165px;
}


.transaction_iframe {
  border: 0;
  width: 500px;
  height: 152px;
}

.fa {
  margin: 0px !important;
  margin-left: 5px !important;
}


.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}
