<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "Who is behind bithost?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "The service bithost is run by Antoan. All of our hosting services are managed by DigitalOcean, Linode, and Vultr."
        }
      },
      {
        "@type": "Question",
        "name": "What are the supported cryptocurrencies?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We support BTC (including Lightning Network), LTC, XRP, BCH, BSV, DASH, DOGE, EOS, ETH, USDC, and ZEC."
        }
      },
      {
        "@type": "Question",
        "name": "Should I use a valid email?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Yes, you must use a valid email. We will send you reminders if your account balance is too low before your server is removed. Users who use disposable e-mails will be banned without any notification."
        }
      },
      {
        "@type": "Question",
        "name": "Why do you have a server limit?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "By default, all accounts are limited on how many servers they can deploy. If you would like this limit increased, then please just submit a support ticket."
        }
      },
      {
        "@type": "Question",
        "name": "Is it secure?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We do not store any card details, so you do not need to worry about them being leaked. You can also protect your account with 2-step verification."
        }
      },
      {
        "@type": "Question",
        "name": "Why is it more expensive than DigitalOcean, Linode, and Vultr?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "This is to mitigate the risk of converting cryptocurrencies back to USD, and to help with the running costs of bithost."
        }
      },
      {
        "@type": "Question",
        "name": "Why do we need to top up?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "To be able to use bithost, you must add some credit to your account. To do this, you must top up your account using Bitcoin, Ethereum, Litecoin or any other supported crypto currency."
        }
      },
      {
        "@type": "Question",
        "name": "How does the billing work?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Each server has an hourly and monthly price. The hourly price is charged until the server reaches the monthly price. You can think of it as a monthly price cap. When the monthly price is reached, you won't be billed until the beginning of next month. DigitalOcean, Linode and Vultr bill the first 672 hours of a month. Resizing a server creates a new billing period."
        }
      },
      {
        "@type": "Question",
        "name": "Why does the server price in the monthly invoices differ than the advertised monthly price?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "An invoice contains the amount billed from the beginning of the month until the monthly price is reached. Resizing servers creates new billing periods and this can affect the monthly price."
        }
      },
      {
        "@type": "Question",
        "name": "What if my balance is too low?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "If you do not have sufficient funds in your account each hour your server is running, then your server will be automatically deleted after a period of time. We will send you reminders before we do this though (so please use a valid email). Backups may be kept, but this is not guaranteed."
        }
      },
      {
        "@type": "Question",
        "name": "Where is my server password?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "You are required to supply an SSH key to be able to access your server. You have to add at least one public SSH key to your bithost account before creating a server."
        }
      },
      {
        "@type": "Question",
        "name": "Can I withdraw my balance?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We do not allow withdrawals."
        }
      }
    ]
  }
</script>
