<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    {{ site.name }} | {{ page.title }}
  </title>

  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="bitcoin vps, bitcoin cloud, dogecoin cloud, litecoin, vps, cloud, digitalocean">
  <meta name="author" content="Scott Robertson">
  <meta name="verifyownership" content="dd2cb3020e4edcba9bf1317602483b2b" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.url }}/css/main.css" rel="stylesheet">
  <link href="{{ site.url }}/css/app.css" rel="stylesheet">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97705400-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.url }}/"><b>BITHOST.IO</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.url }}/prices">Prices</a></li>
          <li><a href="{{ site.url }}/faq">FAQ</a></li>
          <li><a href="mailto:support@bithost.io">Support</a></li>
          <li><a href="https://dashboard.bithost.io">Control Panel</a></li>
        </ul>
      </div>
    </div>
  </div>

  {{ content }}

  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-5">
        <a target="_blank" href="https://www.digitalocean.com/?refcode=39a3000d9437">
          <img src="https://bithost.io/img/digitalocean.png">
        </a>
        |
        <a target="_blank" href="https://www.linode.com/?r=5f337a992b6647af32e5c3ce9cc84ae666b80fc1">
          <img src="https://bithost.io/img/linode.png">
        </a>
      </div>
      <div class="col-md-4">
        <a href="/terms">Terms</a> |
        <a href="https://www.superbithost.com">Dedicated Server</a> |
        <a href="https://dashboard.bithost.io">Login</a>
      </div>
      <div class="col-md-3 text-right">
        bithost.io: Since 2014
      </div>
    </div>

    <hr>
  </div>

</body>
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/js/app.js"></script>

</html>
